body{
background-color: white;
background-position-x: center;
background-size: auto 750px;
background-repeat: no-repeat;
margin: 0px;
padding: 0px;
perspective: 100px;
}
header::before{
    background: url('img/pexels-photo-2261477.jpeg') no-repeat center center/cover;

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
}
.heading{
    color: black;
    font-size: 80px;
    margin-bottom: 0px;
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: center;


}
.navBar{
    background-color: black;
 margin-top: 0;
 height: 50px;
}
.navBar li{
    float: left;
    padding: 15px 40px;
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.account{
    float: right;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: right;
    
}
.account a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.account a:hover{
    color: yellowgreen;
}
#login{
    padding: 0px 30px;
}
.navBar ul{
    overflow: auto;
    margin: 0px;
    padding: 0px;
}
.navBar input{
    border-radius: 25px;
}
.enroll{
    background-color: #222e33;
    padding: 120px;
    margin: 100px 50px;
    display: inline-flex;
    border-radius: 100%;
    font-size: 30px;
}
.enroll a{
    color: white;
    text-decoration: none;
}
button{
    border-radius: 20px;
}
a:hover{
    color: yellowgreen;
}
.navBar li a:hover {
    color: yellowgreen;
}
.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.services-text{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 20vw;
    background-color: black;
    /* padding: 75px; */
    /* font-size: 30px; */
    border: 2px solid black;
    /* font-family: cursive; */
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 72px;
  border: 2px solid black;
  color: white;
  width: 50vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  animation-name: changeBackgroundImage;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes changeBackgroundImage {
  0% {
    background-image: url('img/aerobics/1.avif');
  }
  25% {
    background-image: url('img/aerobics/2.avif');
  }
  50% {
    background-image: url('img/aerobics/3.avif');
  }
  75% {
    background-image: url('img/aerobics/4.avif');
  }
  100% {
    background-image: url('img/aerobics/5.avif');
  }
}

.services:nth-of-type(2) {
  animation-name: changeBackgroundImage2;
}

@keyframes changeBackgroundImage2 {
  0% {
    background-image: url('img/weight-training/1.avif');
  }
  25% {
    background-image: url('img/weight-training/2.avif');
  }
  50% {
    background-image: url('img/weight-training/3.avif');
  }
  75% {
    background-image: url('img/weight-training/4.avif');
  }
  100% {
    background-image: url('img/weight-training/5.avif');
  }
}

.services:nth-of-type(3) {
  animation-name: changeBackgroundImage3;
}

@keyframes changeBackgroundImage3 {
  0% {
    background-image: url('img/Personal-training/1.avif');
  }
  25% {
    background-image: url('img/Personal-training/2.avif');
  }
  50% {
    background-image: url('img/Personal-training/3.avif');
  }
  75% {
    background-image: url('img/Personal-training/4.avif');
  }
  100% {
    background-image: url('img/Personal-training/5.avif');
  }
}

.services:nth-of-type(4) {
  animation-name: changeBackgroundImage4;
}

@keyframes changeBackgroundImage4 {
  0% {
    background-image: url('img/aerobics/1.avif');
  }
  25% {
    background-image: url('img/aerobics/2.avif');
  }
  50% {
    background-image: url('img/aerobics/3.avif');
  }
  75% {
    background-image: url('img/aerobics/4.avif');
  }
  100% {
    background-image: url('img/aerobics/5.avif');
  }
}

.contact_us{
    border: 2px solid white;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    
    font-size: 25px;
    width: 100% cover;
    height: 200px;
    background-color: black;
}